
.btn-container{
    gap: 15px;
    display: flex;
    justify-content: end;
    margin-right: 4px;
}

.btn-container button {
    border: solid 1px   ;
    
}

.new-btn {
    width: 200px;
    height: 60px;
    border-radius: 7px;
    color: #754FFE;
    background-color: #FFF;
    padding: 5px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Transição suave */
}

.new-btn:hover {
    background-color: #754FFE;
    color: #FFF;
}

.close-btn {
    width: 200px;
    height: 60px;
    border-radius: 7px;
    color: #E24B4B;
    background-color: #FFF;
    padding: 5px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Transição suave */
}

.close-btn:hover {
    background-color: #E24B4B;
    color: #FFF;
}


.close-btn{
    width: 200px;
    height: 60px;
    border-radius: 7px;
    color: #E24B4B;
    background-color: #FFF;
    padding: 5px;
}

.close-btn:hover {
    background-color: #E24B4B;
    color: #FFF
    
}

.dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dashboard span{
    margin: 2em 0;
    font-weight: 600;
    font-size: 1.2em;
}

/* Estilo para a tabela */
.table-container {
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    padding: 20px;
    margin: 20px 0;
  }
  
  /* Estilo para os títulos (th) */
.table-container .table th {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    text-align: center; /* Alinha o texto centralizado */
    color: #1E293B
}
  
  /* Estilo para Prioridade */
  .table-container .table .prioridade-urgente {
    background-color: #FF686B;
    color: white;
    border-radius: 7px;
    padding: 4px 8px; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto */
  }
  
  .table-container .table .prioridade-media {
    background-color: #FAFF68;
    color: black;
    border-radius: 7px;
    padding: 4px 8px;
    text-align: center;
    width: auto;
}
  
/* Estilo para os títulos (th) */
.table-container .table th {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    color: #754FFE; /* Cor roxa antiga */
    text-align: center; /* Centraliza o texto */
    vertical-align: middle; /* Alinha verticalmente */
  }
  
  /* Estilo para as linhas (tr) */
  .table-container .table td {
    text-align: center; /* Centraliza horizontalmente */
    vertical-align: middle; /* Centraliza verticalmente */
    color: #1E293B; /* Cor do texto */
    padding: 12px 8px; /* Ajusta o espaçamento interno */
    font-family: 'Inter', sans-serif;
  }
  
  /* Estilo para Prioridade */
  .table-container .table .prioridade-alta {
    background-color: #FF686B;
    color: white;
    border-radius: 7px;
    padding: 4px 12px;
    display: inline-block;
    text-align: center;
    min-width: 80px;
  }
  
  .table-container .table .prioridade-media {
    background-color: #FAFF68;
    color: black;
    border-radius: 7px;
    padding: 4px 12px;
    display: inline-block;
    text-align: center;
    min-width: 80px;
  }
  
  .table-container .table .prioridade-baixa {
    background-color: #68FF6D;
    color: black;
    border-radius: 7px;
    padding: 4px 12px;
    display: inline-block;
    text-align: center;
    min-width: 80px;
  }
  
  /* Estilo para Status */
  .table-container .table .status-aberto {
    background-color: #5C71F9;
    color: white;
    border-radius: 7px;
    padding: 4px 12px;
    display: inline-block;
    text-align: center;
    min-width: 80px;
  }
  
  .table-container .table .status-atendimento {
    background-color: #68FF6D;
    color: black;
    border-radius: 7px;
    padding: 4px 12px;
    display: inline-block;
    text-align: center;
    min-width: 80px;
  }
  
  .table-container .table .status-reaberto {
    background-color: #FF686B;
    color: white;
    border-radius: 7px;
    padding: 4px 12px;
    display: inline-block;
    text-align: center;
    min-width: 80px;
  }

  .table-container img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
  }

  /* Ícones no cabeçalho */
.icon-wrapper {
    background-color: #754FFE; /* Cor roxa */
    color: white; /* Cor do ícone */
    padding: 6px;
    border-radius: 50%;
    margin-left: 8px; /* Espaçamento entre ícones */
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  
  .icon-wrapper:hover {
    opacity: 0.8; /* Efeito de hover */
  }
  
  .modal-body-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Permitir que o layout se ajuste em telas menores */
  }
  
  .modal-column {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .column-1 .modal-item {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centralizando a imagem do avatar em relação ao título */
  }
  
  .column-3{
    gap: 10px;
    align-items: center;
  }
  
  .modal-title {
    color: #1E293B; /* Cor do título */
    font-size: 14px;
    font-weight: bold;
  }
  
  .modal-info {
    color: #754FFE; /* Cor do conteúdo */
    font-size: 18px;
  }
  
  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10px; /* Imagem abaixo do Criado Por */
  }
  
  .priority-status {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 7px; 
    color: white;
    font-size: 14px;
    font-weight: bold;
    width: fit-content;
  }
  
/* Estilo para Prioridade dentro do Modal */
.modal-body-container .priority-urgente {
  background-color: #FF686B; /* Urgente */
  color: white;
  border-radius: 7px;
  padding: 4px 12px;
  display: inline-block;
  text-align: center;
  min-width: 80px;
}

.modal-body-container .priority-media {
  background-color: #FAFF68; /* Média */
  color: black;
  border-radius: 7px;
  padding: 4px 12px;
  display: inline-block;
  text-align: center;
  min-width: 80px;
}

.modal-body-container .priority-baixa {
  background-color: #68FF6D; /* Baixa */
  color: black;
  border-radius: 7px;
  padding: 4px 12px;
  display: inline-block;
  text-align: center;
  min-width: 80px;
}

/* Estilo para Status dentro do Modal */
.modal-body-container .status-aberto {
  background-color: #5C71F9; /* Aberto */
  color: white;
  border-radius: 7px;
  padding: 4px 12px;
  display: inline-block;
  text-align: center;
  min-width: 80px;
}

.modal-body-container .status-atendimento {
  background-color: #68FF6D; /* Atendimento */
  color: black;
  border-radius: 7px;
  padding: 4px 12px;
  display: inline-block;
  text-align: center;
  min-width: 80px;
}

.modal-body-container .status-reaberto {
  background-color: #FF686B; /* Reaberto */
  color: white;
  border-radius: 7px;
  padding: 4px 12px;
  display: inline-block;
  text-align: center;
  min-width: 80px;
}

@media screen and (max-width: 600px) {
    
    .btn-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    table{
        border: 0
    }
    
    table caption {
        font-size: 1.3em;
    }

    table thead{
        border: none;
        clip: rect(0 0 0 0 );
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .65em;
    }

    table td{
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child{
        border-bottom: 0;
    }
}

